body{
	margin: 0;
	padding: 0;
}
#container{
	text-align: center;
}
.header{
	background-color: #A1243A;
	width: 100%;
	height: 150px;
}
h1{
	font-family: 'El Rio Lobo';
	padding-top: 20px;
	color: #F2AF40;
}
h3{
	color: white;
}
.body{
	background-color: #158ABE;
	width: 100%;
	height: 400px;
}
.body img{
	margin: 20px;
	width: 600px;
	height: 360px;
}
.imagen{
	width: 100%;
	height: 600px;
}
.imagen img{
	position: relative;
	display: block;
	width: 100%;
	height: 600px;
}

.imagen p {
    position: absolute;
    right: 0;
    font-size: 22px;
    text-align: right;
    display: block;
    bottom: -67px;
    color: white;
}
.imagen h1 {
    position: absolute;
    bottom: 66px;
    font-family: 'El Rio Lobo';
    color: #F2AF40;
    right: 0;
}
.footer {
    background-color: white;
    width: 100%;
    height: 450px;
    position: absolute;
    bottom: -700px;
}
.footer h1 {
    font-family: 'El Rio Lobo';
    color: black;
    font-size: 80px;
    font-weight: 100;
}
.footer ul {
	list-style: none;
	}
.footer li {
    font-family: 'El Rio Lobo';
    color: black;
    font-size: 80px;
    font-weight: 100;
    text-align: left;
    margin-left: 30%;
    padding: 5px;
}

li.nota:before{
	font-family: 'El Rio Lobo';
	content: '-';
	display: inline-block;
}
li.nota1:before{
	font-family: 'El Rio Lobo';
	content: '-';
	display: inline-block;
}
li.nota2:before{
	font-family: 'El Rio Lobo';
	content: '-';
	display: inline-block;
}
	